
site/art/2DArt/**
!site/art/2DArt/readme.txt

site/art/3DRenders/**
!site/art/3DRenders/readme.txt

site/art/About/**
!site/art/About/readme.txt

site/art/Animation/**
!site/art/Animation/readme.txt
