#top-bar {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid black;
    z-index: 1;
    box-shadow: 0px 5px 9px 0px rgb(156 153 152);
    border: none;
}

.spacer {
    display: flex;
    flex-grow: 1;
}

.tab {
    height: inherit;
    margin: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 17px;
}

.tab.active, .tab.active:hover {
    background-color: #b0b0b0;
}

.tab:hover {
    background-color: #ddd;
}

#content-area {
    display: block;
}

.gallery {
    display: none;
}

.gallery.image-gallery.show {
    display: grid;
    width: 85vw;
    margin: 40px auto auto auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 30px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    cursor: pointer;
    outline: solid black;
}

.image-container:hover {
    box-shadow: black 5px 6px 7px 0px;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.gallery.video-gallery.show {
    display: block;
}

.full-image-view {
    display: flex;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.full-image-view img {
    max-width: 90%;
    max-height: 90%;
}

.full-image-button {
    position: absolute;
    background: transparent;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

#full-image-close-button {
    top: 5%;
    right: 5%;
}

#left-arrow {
    left: 5%;
}

#right-arrow {
    right: 5%;
}

/** MediaViewer */

.media-viewer {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    align-items: center;
}

.media-left, .media-right {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.media-container {
    width: 70%;
    height: 600px;
    margin: auto;
    margin-top: 20px;
}

.media-container video,
.media-container img {
    width: 100%;
    height: 100%;
}

.counter {
    margin-left: 50%;
}